*{
    padding: 0;
    margin: 0;
    user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.half1{
    position: absolute;
    z-index: -1;
    height: 50vh;
    width: 100%;
    background-color: #F0F5FF;
    top: 0;
    left: 0;
}
.container{
    padding: 15px 10px;
    position: relative;
    border-radius: 10px;
    width: 850px;
    margin: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 
            0 6px 10px rgba(0, 0, 0, 0.05);
    background-color: white;
}
.title{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}
p.slogan{
    text-align: center;
    margin-bottom: 20px;
}

.field-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 10px; */
}
.field{
    /* margin: 20px; */
    position: relative;
    border: 1.5px solid #C6C6C6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0px 20px;
}
.field1 ,.field2{
    height: 35px;
    /* width: 250px; */
    padding: 10px 10px;
    font-size: 17px;
    outline: none;
    border: none;
    /* border: 1px solid black; */
    font-weight: bold;
}
.field:focus-within{
    border: 1.5px solid #E5133A;
}
i{
    font-size: 12px;
    margin-left: 5px ;
}
.currency-div1, .currency-div2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    /* position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -20px; */
    transition: 0.2s;
    cursor: pointer;
    border-radius: 7px;
}

.currency-div1:hover, .currency-div2:hover{
    background-color: #eee;
    user-select: none;
}
.drop-down1, .drop-down2{
    user-select: none;
    display: none;
    position: absolute;
    right: -15px;
    z-index: 1;
    top: calc(100% - 10px);
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 
            0 6px 10px rgba(0, 0, 0, 0.05);

    background-color: white;
    padding: 5px 0px 2px 10px;
    border-radius: 7px;
}
.search1, .search2{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85a1.007 1.007 0 0 0-.115-.098zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>') no-repeat left 4px center;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    
}
.menu1, .menu2{
    height: 150px;
    overflow-y: scroll;
}
.menu1::-webkit-scrollbar, .menu2::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }
.menu1::-webkit-scrollbar-thumb, .menu2::-webkit-scrollbar-thumb {
background: #ccc; 
border-radius: 10px;
}
  
.menu1::-webkit-scrollbar-track, .menu2::-webkit-scrollbar-track {
border-radius: 10px;
}

.swap{
    background-color: #E5133A;
    color: white;
    padding: 6px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.swap:hover{
    background-color: #F1465D ;
    background-color: #B40F2A  ;

}
  

.option1, .option2{
    padding: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-weight: 600;
}
.option1:hover, .option2:hover{
    background-color: #eee;
}
.active{
    background-color: #eee;
}
img{
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.empty{
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.end{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    /* border: 1px solid black; */
}
.end p{
    font-weight: 600;
}
.convert{
    background-color: #E5133A;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.convert:hover{
    background-color: #B40F2A;
}